.model-bg {
    padding: 5px;
    border-radius: 4px;
    position: absolute;
}

.show-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
}

.loading-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000055;
}

.loading-bg h3{
    color: #ffffff;
    padding: 10px
}
