:root{
    --bgolors: #000;
}
.container{
    height: 100%;
}

.logo {
    height: 64px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*justify-items: center;*/
    /*align-content: center;*/
}

.logo img{
    width: 20px;
    height: 20px;
}

.logo b{
    color: white;
    font-weight: lighter;
    font-size: medium;
    margin-left: 5px;

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}


.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.site-layout-background-header{
    height: 64px;
}



.water-fall {
    display: flex;
    flex-direction: column;
    min-height: 540px;
    overflow: hidden;
}


.footer{
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bgolors);
}

.footer b{
    color: #fff;
    font-size: smaller;
    font-weight: lighter;
}





/*.row-bg{*/
/*    height: 100%;*/
/*    background-color: yellow;*/
/*}*/
/*.coll-small{*/
/*    height: 100px;*/
/*    font-size: 14px;*/
/*    line-height: 120px;*/
/*    background: #0092ff;*/
/*    border-radius: 4px;*/
/*}*/


/*.coll-big{*/
/*    height: 200px;*/
/*    font-size: 14px;*/
/*    line-height: 120px;*/
/*    background: #0092ff;*/
/*    border-radius: 4px;*/
/*}*/

